.experience-pad{
    min-height: calc(100vh - 60px);
    width: 100%;
    background-color:#ffffff;
    position: relative; /* Add this to make the about section stack above the particles section */
    padding: 12rem 0
    
}

  .experience {
    display: flex;
    position: relative; /* Add this to make the about section stack above the particles section */
    flex-direction: column; /* Add this line to stack the timeline elements */
    align-items: center;
    overflow-y: auto; /* Add overflow-y property for vertical scrolling */
  }
  


  .vertical-timeline-element-date {
    color: #000000; /* Add your desired color value */
  }
  
  .chip-div{
    margin-top: 10px;
  }

  
  .vertical-timeline-element-content {
    background-color: #ffffff;
    border-top: 3px  solid #6ad7e5;
    -webkit-box-shadow: 0 0px 0 #ffffff;
    box-shadow: 0 0px 0 #ffffff;
  }
  
  
  .timeline-icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 50%;
  }