.experience-pad{
    /* min-height: calc(100vh - 60px); */
    min-height: 100vh;

    width: 100%;
    /* background-color:#121212; */
    position: relative; /* Add this to make the about section stack above the particles section */
    padding: 12rem 0
    
}

@media only screen and (max-width: 56.25em) {
  .experience-pad {
      padding:8rem 0
  }
}

  .experience {
    display: flex;
    position: relative; /* Add this to make the about section stack above the particles section */
    flex-direction: column; /* Add this line to stack the timeline elements */
    align-items: center;
    overflow-y: auto; /* Add overflow-y property for vertical scrolling */
  }
  


  .vertical-timeline-element-date {
    color: #eff2f7; /* Add your desired color value */
  }
  
  .chip-div{
    margin-top: 10px;
  }


  
  
  .timeline-icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 50%;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  }

  /* .vertical-ub{
    
      background-color: #380909;
      border-top: 3px  solid #6ad7e5;
      -webkit-box-shadow: 0 0px 0 #ffffff;
      box-shadow: 0 0px 0 #ffffff;
    

  } */

  .vertical-timeline-element--education .vertical-timeline-element-content {
    background-color: #1f1f1f;
    border-top: 3px  solid #025abb;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    color: #eff2f7;
  }
  
  .vertical-timeline-element--work .vertical-timeline-element-content {
    background-color: #1f1f1f;
    border-top: 3px  solid #027856;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    color: #eff2f7;

  }

  .vertical-timeline-element--work-tech .vertical-timeline-element-content {
    background-color:#1f1f1f;
    border-top: 3px  solid #e0e622;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    color: #eff2f7;

  }

  .vertical-timeline-element--work-wegs .vertical-timeline-element-content {
    background-color:#1f1f1f;
    border-top: 3px  solid #cc63ca;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    color: #eff2f7;

  }