
.life-pieces {
  display: inline-block;
  vertical-align: middle;
  width: 10%; 
}

.life-pieces {
  animation: bobbing 2s infinite ease-in-out;
}

@keyframes bobbing {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}


.properties {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 9rem;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #cacaca;
  border-radius: 5px;
}
