.particles-sec-padding {
  min-height: calc(100vh - 60px);
  padding: 5rem 0;
  background-color: #ffffff;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.boopTextContainer {
  color: #000000;
  z-index: 1;
  text-align: center;
  padding: 1rem;
    margin-bottom: 4rem; /* Adjust the margin as needed */

}

.welcome-text {
  font-family: "RhumaSinera";
  font-size: 15rem;
  color: #1f1f1f;
  line-height: 1;
  padding: 2rem;
}

@media (max-width: 768px) {
  .sec-padding {
    min-height: calc(100vh - 60px);
  }
}


@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(46px);
  }
}


@media (max-width: 768px) {
  .boopTextContainer {
    text-align: center;
    overflow: visible;
    justify-content: space-around;
  }
}