.particles-sec-pad {
  padding: 12rem 0;
  min-height: calc(100vh - 60px);
}

@media only screen and (max-width: 56.25em) {
  .particles-sec-pad {
    padding: 8rem 0;
    min-height: 100vh;
  }
}

.main-particle-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.typeEffect {
  color: #eff2f7;
  z-index: 1;
  text-align: center;
  padding: 1rem;
  margin-bottom: 4rem;
  font-size: 5rem;
}

.astroNaut {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.astroNaut img {
  width: 200px;
  height: 200px;
  animation: astronautAnimation 3s ease-in-out infinite;
  position: relative;
  content: center;
}

@media (max-width: 768px) {
  .particles-sec-pad {
    min-height: calc(100vh);
  }

  .typeEffect {
    text-align: center;
    overflow: visible;
    justify-content: space-around;
    font-size: 4rem;
  }

  .astroNaut {
    margin-top: 4rem; /* Add margin-top to create space between astronaut and text */
  }

  .astroNaut img {
    width: 150px; /* Decrease the width of the astronaut image for better fit */
    height: 150px; /* Decrease the height of the astronaut image for better fit */
  }
}

@keyframes scroll {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: translateY(46px);
  }
}

@keyframes astronautAnimation {
  0% {
    transform: translateY(0) rotate(0);
  }
  50% {
    transform: translateY(-10px) rotate(5deg);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}
