.video-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  .drone-image {
    display: inline-block;
    vertical-align: middle;

  }

  .drone-image {
  animation: bobbing 2s infinite ease-in-out;
}

@keyframes bobbing {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}


.intro__content-details-para {
  font-size: 1.8rem;
  color: #eff2f7;
  max-width: 60rem;
  line-height: 1.7;
  margin-bottom: 1rem
}

.intro__content-details-para--hl {
  font-weight: 700;
  margin: 0 3px
}

.intro__content-details-para:last-child {
  margin-bottom: 4rem
}

.intro__content-details-para a {
  text-decoration: underline;
  font-weight: 700;
  color: #7843e9;
  margin: 0 3px
}

.about__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10rem
}