.video-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  .drone-image {
    display: inline-block;
    vertical-align: middle;

  }

  .drone-image {
  animation: bobbing 2s infinite ease-in-out;
}

@keyframes bobbing {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}
