.videoPlayer {
  max-width: 80rem;
  margin: auto;
  width: 92%;
}

.video {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}
.react-player {
  border-radius: 10px;
  overflow: hidden;
}