.carousel {
  width: 100%;
  max-width: 800px; /* Set a maximum width for the carousel */
  height: auto; /* Change height to auto to allow for responsive resizing */
  margin: auto;
  background-color: #1f1f1f;
}

.player-wrapper {
  position: relative;
  padding-top: 56.25%; /* 16:9 aspect ratio for responsive resizing */
  overflow: hidden; /* Add this line to hide overflow */

}


  .carousel .carousel-control-prev,
  .carousel .carousel-control-next {
    height: 55%;
  }
  
  .carousel .carousel .carousel-control-prev-icon,
  .carousel .carousel .carousel-control-next-icon {
    visibility: hidden;
  }
  
  .carousel .carousel:hover .carousel-control-prev-icon,
  .carousel .carousel:hover .carousel-control-next-icon {
    visibility: visible;
  }
  
  .player-wrapper {
    position: relative;
    padding-top: 56.25%; /* 720 / 1280 = 0.5625 */

  }
  
  .react-player {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    
    height: 100% !important; /* Add this line to ensure the player fills the container */
    width: 100% !important; /* Add this line to ensure the player fills the container */
  }