  .container {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	bottom: 0rem;
	margin: 8rem;
  }
  
  .field {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 300px;
	
  }
  
  .mouse {
	width: 50px;
	height: 90px;
	border: 3px solid #eff2f7;
	border-radius: 60px;
	position: relative;
	cursor: pointer;
  }
  
  .mouse::before {
	content: "";
	width: 12px;
	height: 12px;
	position: absolute;
	top: 10px;
	left: 50%;
	transform: translateX(-50%);
	background-color: #eff2f7;
	border-radius: 50%;
	opacity: 1;
	animation: wheel 2s infinite;
	-webkit-animation: wheel 2s infinite;
  }
  
  @keyframes wheel {
	0% {
	  opacity: 1;
	  top: 10px; /* Starting position */
	}
	50% {
	  opacity: 1;
	  top: 60px; /* Bounce up position */
	}
	100% {
	  opacity: 1;
	  top: 10px; /* Back to starting position */
	}
  }
  
  @-webkit-keyframes wheel {
	0% {
	  opacity: 1;
	  top: 10px; /* Starting position */
	}
	50% {
	  opacity: 1;
	  top: 60px; /* Bounce up position */
	}
	100% {
	  opacity: 1;
	  top: 10px; /* Back to starting position */
	}
  }