
.App {
  height: auto;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #000000;
  flex: 1;
  min-height: -webkit-fill-available; /* Use -webkit-fill-available to prevent the rerendering issue */
}

* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

body {
  padding: 0;
  margin: 0;
}


@font-face {
  font-family: "RhumaSinera";   /*Can be any text*/
  src: local("RhumaSinera"),
    url("./font/rhuma_sinera/Rhuma Sinera Regular.ttf") format("truetype");
}


@font-face {
  font-family: "Sharpie";   /*Can be any text*/
  src: local("Sharpie"),
    url("./font/sharpie/Sharpie-Regular.ttf") format("truetype");
}
