:root {
  --app-height: 100%;
}

.App {
  /* width: 100%; */
  height: auto;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f0f0f0;
  height: var(--app-height);
}

* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

body {
  padding: 0;
  margin: 0;
}


@font-face {
  font-family: "RhumaSinera";   /*Can be any text*/
  src: local("RhumaSinera"),
    url("./font/rhuma_sinera/Rhuma Sinera Regular.ttf") format("truetype");
}


@font-face {
  font-family: "Sharpie";   /*Can be any text*/
  src: local("Sharpie"),
    url("./font/sharpie/Sharpie-Regular.ttf") format("truetype");
}
